In [3]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from numpy.random import randn

grade = [10,9,10,7]
stu = ['A','B','C','D']
s = Series(grade, index = stu)
s

A    10
B     9
C    10
D     7
dtype: int64

In [5]:
s.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [7]:
s.values

array([10,  9, 10,  7])

In [8]:
s

A    10
B     9
C    10
D     7
dtype: int64

In [9]:
s[2]

10

In [10]:
s[2:]

C    10
D     7
dtype: int64

In [11]:
x = list(range(11,16))
ind = ['A','B','C','D','E']

In [12]:
s1 = Series(x,ind)

In [13]:
s1

A    11
B    12
C    13
D    14
E    15
dtype: int64

In [15]:
ind2 = ['A','B','C','D','E','F','G']
s2 = s1.reindex(ind2)

In [16]:
s2

A    11.0
B    12.0
C    13.0
D    14.0
E    15.0
F     NaN
G     NaN
dtype: float64

In [18]:
# replace NaN thanh 0
s2 = s1.reindex(ind2, fill_value = 0)
s2

A    11
B    12
C    13
D    14
E    15
F     0
G     0
dtype: int64