In [15]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from numpy.random import randn

In [16]:
df1 = pd.read_clipboard()       # lưu data từ bàn phím
df1

      Currency        Rate Change
EUR /      USD    0.986294      ▲
GBP /      EUR    1.146400      ▲
USD /      JPY  147.406000      ▼
GBP /      USD    1.130680      ▲
USD /      CHF    0.997401      ▲
    /      CAD    1.362200      ▼
EUR /      JPY  145.386000      ▼
AUD /      USD    0.633521      ▼

In [17]:
df1.columns

Index(['Currency', 'Rate', 'Change'], dtype='object')

In [18]:
df1.head()

      Currency        Rate Change
EUR /      USD    0.986294      ▲
GBP /      EUR    1.146400      ▲
USD /      JPY  147.406000      ▼
GBP /      USD    1.130680      ▲
USD /      CHF    0.997401      ▲

In [19]:
df1.tail()

      Currency        Rate Change
GBP /      USD    1.130680      ▲
USD /      CHF    0.997401      ▲
    /      CAD    1.362200      ▼
EUR /      JPY  145.386000      ▼
AUD /      USD    0.633521      ▼

In [20]:
df1.Change

EUR  /    ▲
GBP  /    ▲
USD  /    ▼
GBP  /    ▲
USD  /    ▲
     /    ▼
EUR  /    ▼
AUD  /    ▼
Name: Change, dtype: object

In [21]:
df1.Rate

EUR  /      0.986294
GBP  /      1.146400
USD  /    147.406000
GBP  /      1.130680
USD  /      0.997401
     /      1.362200
EUR  /    145.386000
AUD  /      0.633521
Name: Rate, dtype: float64

In [22]:
df1

      Currency        Rate Change
EUR /      USD    0.986294      ▲
GBP /      EUR    1.146400      ▲
USD /      JPY  147.406000      ▼
GBP /      USD    1.130680      ▲
USD /      CHF    0.997401      ▲
    /      CAD    1.362200      ▼
EUR /      JPY  145.386000      ▼
AUD /      USD    0.633521      ▼

In [23]:
df1.Change = 'Down 1'

In [24]:
df1

      Currency        Rate  Change
EUR /      USD    0.986294  Down 1
GBP /      EUR    1.146400  Down 1
USD /      JPY  147.406000  Down 1
GBP /      USD    1.130680  Down 1
USD /      CHF    0.997401  Down 1
    /      CAD    1.362200  Down 1
EUR /      JPY  145.386000  Down 1
AUD /      USD    0.633521  Down 1

In [ ]:
# Lưu ý các cột không được có khoảng trống